.table.grid-view {
    .grid-view-hidden {
        display: none;
    }
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    display: block;
    thead {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 10px 0px 10px 6px;
        background-color: map-get($light-theme, background-color);
        @media (prefers-color-scheme: dark) {
            background-color: map-get($dark-theme, background-color);
        }
        th {
            display: inline-block;
            div {
                padding: 5px 12px;
                margin: 4px !important;
                border-radius: 6px;
                cursor: pointer;
                background-color: map-get($light-theme, hover-color);
                border: 1px solid map-get($light-theme, background-color);
                @include cool-box-shadow($light-theme);    
                font-weight: 500;
                @media (prefers-color-scheme: dark) {
                    background-color: map-get($dark-theme, background-color);
                    border: 1px solid map-get($dark-theme, background-color);
                    @include cool-box-shadow($dark-theme);    
                }
                @media (max-width: 580px) {
                    padding: 3px 7px;
                    margin: 1px !important;        
                }
            }
        }
    }
    tbody {
        display: flex;
        flex-wrap: wrap;
        tr {
            display: grid;
            border-collapse: collapse;
            width: calc(25% - 22px); /* Adjust the number of columns as needed */
            padding: 200px 0 55px;
            border-radius: 6px;
            border: 1px solid map-get($light-theme, hover-color);
            margin: 10px;
            &:nth-child(odd) {
                background-color: map-get($light-theme, odd-row-color);
            }
            &:hover {
                cursor: pointer;
                @include cool-box-shadow($light-theme);
                @include transition(all 0.3s ease-in-out);
                // transition: all 0.3s ease-in-out;
            }
            @media (prefers-color-scheme: dark) {
                border: 1px solid map-get($dark-theme, background-color);
                @include cool-box-shadow($dark-theme);
                &:nth-child(odd) {
                    background-color: map-get($dark-theme, odd-row-color);
                }    
            }
            td {
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 10px;
                div.outer-div.top-pad10.left-pad10 {
                    padding: 0 !important;
                }
            }
            @media (max-width: 900px) {
                width: calc(33% - 22px); /* Adjust the number of columns as needed */
            }
            @media (max-width: 640px) {
                width: calc(50% - 22px); /* Adjust the number of columns as needed */
            }
            @media (max-width: 540px) {
                width: 100%; /* Full width on smaller screens */
            }
            // // Vendor-specific properties // have to verify it first
            // @supports (display: grid) {
            //     display: grid;
            //     grid-template-columns: repeat(auto-fill, minmax(25%, 1fr)); // Vendor-specific grid property
            //     // You can also add other vendor-specific properties here if needed
            // }
        }
    }
}