
// padding
.left-pad0 {
    padding-left: 0 !important;
}
.right-pad0 {
    padding-right: 0 !important;
}
.top-pad0 {
    padding-top: 0 !important;
}
.bottom-pad0 {
    padding-bottom: 0 !important;
}
// padding 10px
.left-pad10 {
    padding-left: 10px !important;
}
.right-pad10 {
    padding-right: 10px !important;
}
.top-pad10 {
    padding-top: 10px !important;
}
.bottom-pad10 {
    padding-bottom: 10px !important;
}


// margin
.left-mar0 {
    margin-left: 0 !important;
}
.right-mar0 {
    margin-right: 0 !important;
}
.top-mar0 {
    margin-top: 0 !important;
}
.bottom-mar0 {
    margin-bottom: 0 !important;
}